.content {
    background-color: var(--footerColor);
    padding: 50px 100px;
    color: white;

    display: flex;
    justify-content: space-between;
}

.content nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.content li{
    margin: 0px 10px;
}

.content li svg{
    width: 35px;
}

.content .creditosImagens{
    text-align: center;
}

/*Responsividade*/
@media(max-width: 865px){
    .content{
        flex-direction: column;
        align-items: center;
        padding: 50px 10px;
    }

    .content .creditosImagens{
        margin: 50px 0px;
    }
}