.header{
    background-color: var(--mainColor);
    padding: 0px 100px;

    display: flex;
    align-items: center;
}

.header img{
    width: 25%;
}

.header .userArea{
    align-self: flex-start;
    margin-top: 20px;
    color: white;
}

/*Responsivo*/
@media(max-width:865px){
    .header{
        padding: 10px 10px;
    }
}

@media(max-width:500px){
    .header{
        display: block;
    }

    .header .userArea{
        display:flex;
        justify-content:flex-end;
        margin-top: 10px;
    }
}