.content{
    padding: 10px 100px;

    display: grid;
    grid-template-columns: 3fr 9fr;
}

.content .floatOptions{
    display: none;
}

.content aside{
    background-color: var(--asideColor);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.content .prodArea{
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content p{
    display: flex;
    align-items: center;
}

.content svg{
    width: 20px;
}

.content ul{
    list-style: none;
}

.content li{
    margin: 2px;
}

/*Responsividade*/
@media(max-width:1055px){

    .content aside{
        font-size: .8rem;
    }

    .content ul{
        padding-left: 10px;
    }
}

@media(max-width: 865px){
    .content{
        padding: 10px;
    }
}

@media(max-width: 655px){

    .content{
        padding: 0px;
        grid-template-columns: 12fr;
    }

    .content aside{
        display: none;
    }

    .content .floatOptions{
        display: block;
        padding: 3px;
        position:fixed;
        top: 100px;
        left: 15px;
        background-color: var(--asideColor);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-bottom-left-radius: 0px;

        transition: .3s;
        z-index: 1;
    }

    .content .contornoInterno{
        border: 3px solid white;
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 50%;
    }

    .content .contornoInterno svg{
        width: 100%;
    }

    .content .floatOptions:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}